*{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

#background {
    height: 100vh;
    width: 100%;
    position: fixed;
    background: linear-gradient(45deg,#e7072136,#7462ff,#f48e21);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

#page-title {
    margin-top: 20px;
    color:#ffffff9d;
    text-shadow: 1px 1px 0 rgb(129, 122, 122), -1px -1px 0 rgb(136, 128, 128), 1px -1px 0 rgb(153, 143, 143), -1px 1px 0 rgb(163, 153, 153); /* Agrega un sombreado a cada letra */
    border-radius: 10%;
    border-color: rgb(24, 23, 23);
    font-size: 35px;
}

#logo {
    margin-top: 20px;
}

#upload-input {
    margin-top: 20px;
}

#preview-container {
    margin-top: 20px;
}

#preview-image {
    max-width: 400px;
    max-height: 400px;
    margin-top: 10px;
}